.column {
  width: 30%;
  float: left;
  margin: 5px;
  height: 1000px;
}

#lightblue {
  background-color: lightblue;
}

#lg {
  background-color: lightgreen;
}

#pink {
  background-color: pink;
}

body img {
  height: 200px;
  width: 90%;
}

h1 {text-align: center}

body {
  text-align: center;
}
